* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none
}

.status {
    background-color: #e9e9e9;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Tahoma, Helvetica, sans-serif;
    background-color: #8a2be2;
    font-weight: bold;
}

.status > * {
    color: #fff;
    padding: 10px 20px;
}

.status p {
    background-color: #340f57;
    font-size: 30px;
    width: 100%;
    text-align: center;
}
.status p span {
    color: #00d812;
    text-transform: uppercase;

}

.container {
    background-color: #e9e9e9;
    max-width: 1200px;
    height: calc(100vh - 281px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container.wrong-flash::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ff0000;
    opacity: 0.5;
    z-index: 1;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.game-content {
    display: flex;
    flex-wrap: wrap;
}

.drawing {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 350px;
}

.drawing .hang {
    display: flex;
    justify-content: center;
}

.drawing .hang .base {
    display: none;
    width: 100px;
    border-bottom: 4px solid #000;
}

.drawing .hang .pillar {
    display: none;
    align-self: flex-end;
    height: 450px;
    margin-left: -50px;
    width: 4px;
    background-color: #000;
}

.drawing .hang .carrier {
    display: none;
    align-self: flex-end;
    margin-bottom: 420px;
    width: 120px; height: 4px;
    background-color: #000;
}

.drawing .hang .rope {
    display: none;
    align-self: flex-end;
    background-color: #000;
    width: 2px;
    height: 120px;
    margin-bottom: 304px;
    position: relative;
}

.drawing .hang .rope::after {
    position: absolute;
    top: 120px;
    left: -6px;
    content: "";
    width: 10px;
    height: 5px;
    border: 2px solid #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.drawing .human {
    display: none;
    transform: translate(-21px, -4px);
    -webkit-transform: translate(-21px, -4px);
    -moz-transform: translate(-21px, -4px);
    -ms-transform: translate(-21px, -4px);
    -o-transform: translate(-21px, -4px);
}

.drawing .human .head {
    height: 70px;
    width: 70px;
    background-color: #e9e9e9;
    border: 3px solid #000;
    margin-left: calc(50% - 34px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.drawing .human .body {
    height: 160px;
    width: 3px;
    background-color: #000;
    margin-left: 50%;
}

.drawing .human .hands {
    margin-left: 2px;
    position: relative;
}

.drawing .human .hands .right-hand {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 3px;
    background-color: #000;
    top: 30px;
    left: 50%;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}

.drawing .human .hands .right-hand::after {
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    background-color: #000;
    width: 55px;
    height: 3px;
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
}

.drawing .human .hands .left-hand {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 3px;
    background-color: #000;
    top: 30px;
    right: 50%;
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

.drawing .human .hands .left-hand::after {
    content: "";
    position: absolute;
    top: -16px;
    right: 0;
    background-color: #000;
    width: 55px;
    height: 3px;
    transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
}

.drawing .human .legs {
    position: relative;
    height: 50px;
}

.drawing .human .legs::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 3px;
    background-color: #000;
    top: 18px;
    left: calc(50% - 7px);
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
}

.drawing .human .legs::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 3px;
    background-color: #000;
    top: 18px;
    right: calc(50% - 10px);
    transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
}

.letters {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;
    padding: 0 50px;
    min-width: 350px;
}

.letters span {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    background-color: #2227F0;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.letters span:hover {
    background-color: #CD23FA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.letters span.disabled {
    opacity: 0.2;
    pointer-events: none;
}

.attempts {
    background-color: #340f57;
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.attempts p {
    font-weight: bold;
}

.attempts .spans { 
    display: flex;
    gap: 10px;
}

.attempts .spans span {
    height: 20px;
    width: 100px;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    position: relative;
}

.attempts .spans span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00d812;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.attempts .spans span.disabled {
    background-color: #ff0000;
}

.attempts .spans span.disabled::after {
    opacity: 0;
    transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%);
}

.guessed {
    background-color: #8a2be2;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px
}

.guessed span {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    padding: 40px;
    background-color: #fff;
    border-bottom: 5px solid #2227F0;
}

.guessed span.space {
    width: 20px;
    background-color: white;
    border: none;
    height: 5px;
    padding: 0;
    margin: 0 20px;
}

/* -------------------------- lose -------------------------- */
.lose-alert-bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000bd;
    z-index: 1;
}

.lose-alert {
    min-width: 50%;
    min-height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'tahoma', sans-serif;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
    text-align: center;
    padding: 20px;
    z-index: 2;
}

.lose-alert p {
    color: #ff0000;
    font-size: 30px;
    text-shadow: 0 0 10px #ff0000;
}

.lose-alert p span {
    display: block;
    font-size: 100px;
    font-weight: bold;
}
.lose-alert button {
    background-color: #8a2be2;
    color: #fff;
    font-size: 20px;
    border: none;
    padding: 15px 40px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.lose-alert button:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.lose-alert > span {
    color: #fff;
    font-size: 20px;
}

/* ---------------------------- win -------------------------- */
.win-alert-bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000bd;
    z-index: 1;
}

.win-alert {
    min-width: 50%;
    min-height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
    text-align: center;
    padding: 20px;
    z-index: 2;
}

.win-alert p {
    color: #00ff15;
    font-size: 30px;
    text-shadow: 0 0 10px #00ff15;
}

.win-alert p span {
    display: block;
    font-size: 100px;
    font-weight: bold;
}
.win-alert button {
    background-color: #8a2be2;
    color: #fff;
    font-size: 20px;
    border: none;
    padding: 15px 40px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.win-alert button:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.win-alert > span {
    color: #fff;
    font-size: 20px;
}

/* ----------------- attempts punishment -------------------- */
.drawing.attempt-4 .base,
.drawing.attempt-4 .pillar {
    display: inline-block;
}

.drawing.attempt-3 .carrier {
    display: block;
}

.drawing.attempt-2 .rope {
    display: block;
}

.drawing.attempt-1 .human {
    display: block;
}

@media (max-width: 800px) {
    .container {
        height: calc(100vh - 254px);
    }
    .game-content {
        gap: 30px;
    }
    .drawing {
        min-height: 150px;
    }
    .drawing .hang .pillar {
        height: 150px;
        margin-left: -25px;
    }
    .drawing .hang .base {
        width: 45px;
    }
    .drawing .hang .carrier {
        margin-bottom: 140px;
        width: 70px;
    }
    .drawing .hang .rope {
        margin-bottom: 109px;
        height: 35px;
    }
    .drawing .hang .rope::after {
        height: 3px;
        width: 5px;
        top: 33px;
        left: -4px;
    }
    .drawing .human {
        transform: translate(-23px, 9px);
        -webkit-transform: translate(-23px, 9px);
        -moz-transform: translate(-23px, 9px);
        -ms-transform: translate(-23px, 9px);
        -o-transform: translate(-23px, 9px);
}
    .drawing .human .head {
        height: 30px;
        width: 30px;
        margin-left: calc(50% - 6px);
    }
    .drawing .human .hands .right-hand {
        width: 20px;
        top: 16px;
        left: calc(50% + 10px);
    }
    .drawing .human .hands .right-hand::after {
        top: -9px;
        left: -2px;
        width: 25px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
}
    .drawing .human .hands .left-hand {
        width: 20px;
        top: 16px;
        right: calc(50% + -8px);
    }
    .drawing .human .hands .left-hand::after {
        top: -9px;
        left: -5px;
        width: 25px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
}
    .drawing .human .body {
        height: 45px;
        margin-left: calc(50% + 8px);
    }
    .drawing .human .legs::before {
        width: 40px;
        top: 10px;
        left: calc(50% - -5px);
    }
    .drawing .human .legs::after {
        width: 40px;
        top: 10px;
        left: calc(50% - 26px);
    }
    .status p {
        font-size: 20px;
    }
    .lose-alert {
        width: 100%;
    }
    .lose-alert p {
        font-size: 20px;
        color: white;
        text-shadow: none;
    }
    .lose-alert p span {
        font-size: 50px;
        color: red;
        text-shadow: 0 0 10px #ff0000;
    }
    .win-alert > span {
        color: #00ff15
    }
    .win-alert {
        width: 100%;
    }
    .win-alert p {
        font-size: 20px;
        color: white;
        text-shadow: none;
    }
    .win-alert p span {
        font-size: 50px;
        color: #00d812;
        text-shadow: 0 0 10px #00d812;
    }
    .win-alert > span {
        color: #00ff15
    }
    .letters {
        padding: 0 25px;
    }
    .letters span {
        height: 10px;
        width: 10px;
        padding: 20px;
        font-size: 15px;
    }
    .letters span:hover {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    .guessed {
        flex-wrap: wrap;
        padding: 10px;
        min-height: 115px;
    }
    .guessed span {
        height: 40px;
        width: 40px;
        padding: 20px;
        font-size: 20px;
    }
    .guessed span.space {
        margin: 0 8px;
    }
    .attempts {
        flex-direction: column;
        padding: 10px 0;
        gap: 5px
    }
    .attempts .spans span {
        height: 10px;
        width: 50px;
    }
}